.topbanner{
    display: flex;
    margin:0px;
    height:20vh;
    background-color: aqua;
    align-items: center;
    
    
}
.siteTitle{
    padding:10px;
    width: fit-content;
    height: fit-content;
    
    margin: auto;
    color: bisque;
}
.mian{
    margin:0px;
    background-color: deepskyblue;
    height: 80vh;
}
.main>*{
    margin: 0px;
    padding: 10px;
    text-align: center;
    }