.topbanner{
    display: flex;
    margin:0px;
    height:20vh;
    background-color: aqua;
    align-items: center;
    
    
}
.siteTitle{
    padding:10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: bisque;
}
.mian{
    margin:0px;
    background-color: deepskyblue;
    height: 80vh;
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.main>*{
    margin: 0px;
    padding: 10px;
    text-align: center;
}
.right-side-panel{
        grid-column: 1;
}
.center-panel{
    grid-column: 2;
}
.left-side-panel{
    grid-column: 3;
}
.footer{
    display: flex;
    align-items:center;
}